/* Styles généraux pour le corps */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Couleur de fond douce */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Styles pour le conteneur principal */
h2 {
    color: #333; /* Couleur du texte */
    text-align: center;
}

/* Formulaire d'inscription */
form {
    background-color: #fff; /* Fond blanc pour le formulaire */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre portée */
    width: 300px; /* Largeur fixe */
}

/* Champs de formulaire */
input[type="text"],
input[type="password"],
select {
    width: 100%; /* Largeur complète */
    padding: 10px; /* Espacement intérieur */
    margin: 10px 0; /* Marges entre les champs */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur */
    transition: border-color 0.3s; /* Transition douce pour le focus */
}

/* Couleur de la bordure lors du focus */
input:focus,
select:focus {
    border-color: #007bff; /* Couleur bleue au focus */
    outline: none; /* Pas de contour */
}

/* Bouton d'inscription */
button {
    width: 100%; /* Largeur complète */
    padding: 10px; /* Espacement intérieur */
    margin-top: 10px; /* Marges supérieures */
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en main */
    transition: background-color 0.3s; /* Transition douce pour le hover */
}

/* Couleur de fond du bouton lors du hover */
button:hover {
    background-color: #0056b3; /* Couleur bleue plus foncée au hover */
}

/* Lien pour se connecter */
a {
    display: block; /* Affiche en bloc */
    text-align: center; /* Centrer le texte */
    margin-top: 15px; /* Marges supérieures */
    text-decoration: none; /* Pas de soulignement */
    color: #007bff; /* Couleur bleue */
}

a:hover {
    text-decoration: underline; /* Soulignement au hover */
}
.campus {
    width: 250px; /* Ajustez cette valeur selon vos besoins */
    display: block; /* Cela garantit que l'image est traitée comme un bloc pour le centrage */
    margin: 0 auto; /* Centrer l'image horizontalement */
}
.inscription{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Couleur de fond douce */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#inscrit{
    width: 300px;
    display: block;
    margin: 8px;
}